assume_role           = "administrator"
parent_domain_name    = "{{dataworks_domain_name}}"
whitelist_cidr_blocks = ["{{cidr_block['management']['internet-ingress-nat-gateway-2a']}}","{{cidr_block['management']['internet-ingress-nat-gateway-2b']}}","{{cidr_block['management']['internet-ingress-nat-gateway-2c']}}","{{ucfs['team_cidr_block']}}","{{ucfs['bt_cidr_block']}}","{{ucfs['expoe_cidr_block']}}"]
